.navbar {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    20px 1px 37px 8px rgba(0, 0, 0, 0.11);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    20px 1px 37px 8px rgba(0, 0, 0, 0.11);
  background: #ffffff;
  height: 82vh;
  width: 170px;
}
.navPages {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
.navPage {
  margin: 6vh 0;
  padding: 12px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    20px 1px 37px 8px rgba(0, 0, 0, 0.11);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    20px 1px 37px 8px rgba(0, 0, 0, 0.11);
  background: rgb(170, 11, 11);
  background: radial-gradient(
    circle,
    rgba(170, 11, 11, 1) 43%,
    rgba(200, 172, 133, 1) 100%
  );
  border-radius: 7px;
  height: 100%;
  width: 80px;
  font-weight: 700;
  cursor: pointer;
}
.navPage:hover {
  background: rgb(200, 172, 133, 1);
  background: radial-gradient(
    circle,
    rgba(200, 172, 133, 1) 23%,
    rgba(170, 11, 11, 1) 100%
  );
}
